@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@200;300;400;500;600;700&display=swap');

.home_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4em;
}

.home_container h1 {
    font-size: 2.5em;
    margin-bottom: .5em;
}

.home_container h1 span {
    font-family: 'Kodchasan', sans-serif;
    color: #ffbb33;
    padding: 0 .2em;
    background-color: #8a2be2;
}

.home_container p {
    margin-bottom: 1.5em;
    color: #8a2be2;
    font-size: 20px;
}

.home_container img {
    width: 450px;
    margin: 2em 0;
}